@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap');
@layer base {
    body {
        @apply bg-white/90 text-gray-900;
    }
}